/*****************************************/
/************** Base style ***************/
/*****************************************/
html,body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
}

a {
	color: black;
	text-decoration: none;
}

header {
	width: 100%;
	height: 150px;
	background-color: whitesmoke;
	font-family: 'Oswald', sans-serif;
}

header #headerContainer {
	width: 60%;
	min-width: 800px;
	height: 100%;
	margin: 0 auto;
	padding: 20px;
	box-sizing: border-box;
}

header #headerContainer img{
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

ul {
	display: inline-block;
	vertical-align: middle;
}

ul li {
	display: inline-block;
	padding: 5px 20px;
	vertical-align: middle;
}

#loginLabel,
#signupLabel {
	display: block;
	width: 150px;
	text-align: center;
	padding: 5px 0px;
	cursor: pointer;
}

#loginLabel {
	background-color: #fbb03b;
	margin-bottom: 5px
}

#signupLabel {
	background-color: #111;
	color: whitesmoke;
}

#mainContainer {
	width: 100%;
	min-height: 500px;
	background-color: whitesmoke;
	margin-top: 20px;
	font-family: 'Lato', sans-serif;
}

.hover-sliding {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
}
.hover-sliding:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    transition: width 0s ease, background .5s ease;
}
.hover-sliding:after {
    content: '';
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    height: 3px;
    width: 0;
    background: black;
    transition: width .5s ease;
}
.hover-sliding:hover:before {
    width: 100%;
    background: black;
    transition: width .5s ease;
}
.hover-sliding:hover:after {
    width: 100%;
    background: transparent;
    transition: all 0s ease;
}
/*****************************************/
/*********** Index page style ************/
/*****************************************/

#indexBanner {
	width: 100%;
	height: 200px;
	background: url('/bundles/gamingschool/img/banner1.jpg');
	background-size: 100%;
    background-position-y: 29%;
    color: whitesmoke;
    text-align: center;
    display: table;
}

#indexCatch {
	display: table-cell;
	vertical-align: middle
}

#indexBanner h2 {
	font-size: 35px;
}

#indexBanner h3 {
	font-size: 25px;
}

#indexContainer {
	width: 60%;
	min-width: 800px;
	margin: 0 auto;
}

/*****************************************/
/********** Profile page style ***********/
/*****************************************/

#profileInfosContainer {
	width: 60%;
	min-width: 800px;
	margin: 0 auto;
}

#fullWidthProfileZone {
	width: 100%;
	height: 200px;
	background-color: #333;
	color: whitesmoke;
	text-align: center;
	padding: 20px;
}

#profileProfilePic {
	width: 100px;
	height: 100px;
	border: dashed 1px #BBB;
	margin: 0 auto;
}
