<!DOCTYPE html>
<html>
	<head>
		<title>GamingSchool - Coaching eSport</title>
		<meta charset="UTF-8" />

		{% block stylesheets %}
		 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css">
        	<link rel="stylesheet" type="text/css" href="{{ asset('/bundles/gamingschool/css/index-style.css') }}" />
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
	</head>

	<body>
		<header>
			<div id="headerContainer">
				<img src="{{ asset('/bundles/gamingschool/img/logo.png') }}" alt="GamingSchool" />
			</div>
			
		</header>

		<div id="mainContainer">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>