{% extends "GamingSchoolBundle:Default:base.html.twig" %}

{% block title %}Profil de XXX{% endblock %}

{% block content %}
	<div id="fullWidthProfileZone">
	    <div id="profileProfilePic">
	    		
	    </div>
	    <h3>Coach Name</h3>
	    <h4>Coach depuis le 02 Mars 2016</h4>
	</div>
    <div id="profileInfosContainer">
    </div>
    
    <div>
	    <form action='#' method="post">
		    {{ form_widget(form.selectPack) }}
		    {{ form_widget(form.save) }}
		    {{ form_rest(form) }}
		</form>
    </div>
    
{% endblock %}