{% extends "GamingSchoolBundle:Default:base.html.twig" %}

{% block title %}Accueil{% endblock %}
{% block content %}
 <div id="indexBanner">
 </div>

 <div id="indexCatch">
  <h2>Bienvenue sur <b>GamingSchool</b> !</h2>
  <h3>Votre plateforme de coaching eSport</h3>
  
  <div id="indexContent" style="color: whitesmoke;">
   <div class="row">
    {% for game in listGames %}
    <div class="col s4">
     <div class="gameName">
      <a href="{{ path('game', {'game_slug': game.slug}) }}">{{ game.name }}</a>
     </div>
    </div>
    {% endfor %}
   </div>
  </div>
  
 </div>

{% endblock %}