{% extends "GamingSchoolBundle:Default:base.html.twig" %}

{% block content %}
	<div id="indexBanner">
	</div>

	<div id="indexCatch">
		<h2>Bienvenue sur <b>GamingSchool</b> !</h2>
		<h3>Votre plateforme de coaching eSport</h3>
	</div>

	<div id="indexContainer">
	</div>
{% endblock %}