{% extends "GamingSchoolBundle:Default:base.html.twig" %}

{% block title %}Profil de XXX{% endblock %}

{% block content %}
	<div id="fullWidthProfileZone">
	    <div id="profileProfilePic">
	    		
	    </div>
	    <h3>User Name</h3>
	    <h4>User Stuff</h4>
	</div>

    <div id="profileInfosContainer">

    </div>
{% endblock %}